
#cross {

	display: none;
	position: absolute;
	top: -80px;

}

#cross2 {

	display: none;
	margin-top: -1800px;

}

#cross3 {

	display: none;
	margin-top: -1800px;

}


#cross4 {

	display: none;
	margin-top: -1800px;

}